<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layoutpagpadrao.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An interactive getting started guide for Brackets.">

    <title>DS Limp - Gerencial</title>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
        /* Máscaras ER */
        function mascara(o, f) {
            v_obj = o
            v_fun = f
            setTimeout("execmascara()", 1)
        }
        function execmascara() {
            v_obj.value = v_fun(v_obj.value)
        }
        function mtel(v) {
            v = v.replace(/\D/g, "");             //Remove tudo o que não é dígito
            v = v.replace(/^(\d{2})(\d)/g, "($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
            v = v.replace(/(\d)(\d{4})$/, "$1-$2");    //Coloca hífen entre o quarto e o quinto dígitos
            return v;
        }
        function id(el) {
            return document.getElementById(el);
        }
        window.onload = function () {
            id('telefone').onkeypress = function () {
                mascara(this, mtel);
            }
        }
    </script>
</head>

<body>
    <div id="main" class="container-fluid">
        <form action="salvarcliente" method="get">
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" id="nomecli" name="nomecli" placeholder="Nome do cliente">
                </div>

                <div class="form-group col-md-2">
                    <label for="ContatoCliente">Contato no cliente</label>
                    <input type="text" class="form-control" id="contatocli" name="contatocli" placeholder="Contato no cliente">
                </div>

                <div class="form-group col-md-2">
                    <label for="Bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro">
                </div>

                <div class="form-group col-md-2">
                    <label for="Cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-md-2">
                    <label for="Telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="telefone" maxlength="15" placeholder="Telefone">
                </div>

                <div class="form-group col-md-2">
                    <label for="CNPJ">CNPJ</label>
                    <input type="text" class="form-control" name="cnpj" id="cnpj" maxlength="18" placeholder="CNPJ">
                </div>

                <div class="form-group col-md-6">
                    <label for="Endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço">
                </div>

                <div class="form-group col-md-6">
                    <label for="Pontoreferencia">Ponto de referência</label>
                    <input type="text" class="form-control" id="pontoreferencia" name="pontoreferencia" placeholder="Ponto de Referência">
                </div>

                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="Pesquisa Rápida">
                </div>

                <button type="submit" class="btn btn-default btn-md" name="btnpesquisar" value="1" style="height:35px">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>

                <div class="btn-group col-md-1" role="group">
                    <button type="submit" name="confirmar" value="1" class="btn btn-info btn-block">Confirmar</button>
                </div>

                <div class="btn-group col-md-1" role="group">
                    <button type="submit" class="btn btn-default btn-block" name="cancelar" value="1">Cancelar</button>
                </div>
            </div>

            <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center">Nome do cliente</th>
                            <th scope="col" style="text-align: center">Endereço</th>
                            <th scope="col" style="text-align: center">Bairro</th>
                            <th scope="col" style="text-align: center">Cidade</th>
                            <th scope="col" style="text-align: center">Telefone</th>
                            <th scope="col" style="text-align: center">CNPJ</th>
                            <th scope="col" style="text-align: center">Contato no cliente</th>
                            <th scope="col" style="text-align: center">Ponto de referência</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.listaDeClientes)
                        {
                        <tr>
                            <td >@item.Cli_Nome</td>
                            <td >@item.Cli_End</td>
                            <td >@item.Cli_Bairro</td>
                            <td >@item.Cli_Cidade</td>
                            <td >@item.Cli_Telefone</td>
                            <td >@item.Cli_Cnpj</td>
                            <td >@item.Cli_Contato</td>
                            <td >@item.Cli_Ref</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>

            <div class="btn-group col-md-1 col-md-offset-10" role="group">
                <button type="submit" class="btn btn-info btn-block" name="btnsalvar" value="1">Salvar</button>
            </div>

            <div class="btn-group col-md-1" role="group">
                <button type="button" class="btn btn-default btn-block" name="voltar" value="1" onclick="history.go(-1)">Voltar</button>
            </div>

        </form>
    </div>
</body>

</html>